.container {
  background: url('/static/mesh-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #373b64;
  height: 100%;
}

.main {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.image {
  flex-grow: 0;
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-items: center;
}

/* .card {
  justify-content: center;
} */

.heading2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--text-purple);
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
  .container {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }

  .main {
    padding-left: 1.5rem /* 24px */;
    padding-right: 1.5rem /* 24px */;
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
  .main {
    padding-left: 2rem /* 32px */;
    padding-right: 2rem /* 32px */;
    flex-direction: row;
  }
  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
